* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

body {
  background-color: #464545;
  color: #ffffff;
  padding: 30px;
}

.container {
  width: 80%;
  justify-content: space-between;
  display: flex;
  gap: 20px;
}

.news-block {
  background-color: #1e1e1e;
  border-radius: 12px;
  padding: 16px;
}

.news-block h2 {
  font-size: 18px;
  margin-bottom: 12px;
  color: #ffffff;
}

.news-block hr {
    border: none;
    border-bottom: 1px solid #2a2a2a;
}

.news-item {
  display: flex;
  gap: 12px;
  padding: 10px 0;
  border-bottom: 1px solid #2a2a2a;
}

.news-item:last-child {
  border-bottom: none;
}

.news-item img {
  align-items: flex-end;
  width: 72px;
  height: 72px;
  border-radius: 8px;
  object-fit: cover;
}

.news-item .source {
  font-size: 12px;
  color: #8ab4f8;
}

.news-item p {
  font-size: 14px;
  margin: 4px 0;
  line-height: 1.4;
}

.news-item .time {
  font-size: 12px;
  color: #9e9e9e;
}