* {
    font-family: "Nunito Sans", sans-serif;
    padding: 0;
    margin: 0;
    color: rgb(28, 35, 65);
}

header .title {
    width: 700px;
    margin: 0 auto;
}

.todo-list {
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
} 

.todo-list .todo-list__card {
        background-color: #ffffff;
        display: flex;
        gap: 10px;
        padding: 6px 8px 6px 8px;
        border-radius: 3px;
}

.todo-list .todo-list__card .card-date1 {
        background-color: #eceff8;
        width: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 3px;
}

.todo-list .todo-list__card .card-date2 {
        background-color: #f8ecf8;
        width: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 3px;
}

.todo-list .todo-list__card .card-date3 {
        background-color: #f8ecec;
        width: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 3px;
}

.todo-list .todo-list__card .card-date4 {
        background-color: #eef8ed;
        width: 15%;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 3px;
}

.todo-list .todo-list__card .card-body {
        width: 70%;
}

.todo-list .todo-list__card .card-actions {
        font-size: small;    
        display: flex;
        gap: 6px;
        width: 20%;
        align-self: center;
}

.todo-list .todo-list__card .card-actions button {
        cursor: pointer;
        align-items: center;
        border: none;
        background-color: #ffffff;
        font-size: small;
}

.todo-list .todo-list__card .card-actions button:hover {
    border-radius: 3px;
    color: #ffffff;    
    background-color: #000000;
}

 .todo-list .todo-list__card .card-actions button svg:hover {
         fill: #ffffff;
}