body{
    background-color: rgb(54, 52, 52);
}

section{
    display: flex;
    gap: 10px;
}

.pai{
    background-color: rgb(24, 24, 24);
    border-radius: 10px;
    width: 360px;
    height: 390px;
    padding: 10px;
}

.pai .etretenimento{
    width: 100%;
}

.pai .news1{
    width: 50%;
}

.sub-pai{
    display: flex;
    justify-content: space-between;
}
.sub-pai img{
    height: 77px;
    width: 110px;
    border-radius: 8px;
}

p{
    width: 50%;
}

a{
    color: rgb(183, 193, 201);
}

span{
    color: rgb(183, 193, 201);
}
.etretenimento .image{
    display: flex;;
}

.pai2 .Futebol{
    background-color: rgb(24, 24, 24);
    border-radius: 10px;
    width: 360px;
    height: 390px;
    padding: 10px;
}

.pai3 .Apostas{
    background-color: rgb(24, 24, 24);
    border-radius: 10px;
    width: 360px;
    height: 390px;
    padding: 10px;
}

