body {
    display: flex;
    justify-content: center;
}

.corpo {
    width: 80%;
    max-width: 700px;
}

.linha {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 20px 0;
}

.bloco {
    background-color: black;
    height: 60px;
    border-radius: 4px;
}


.grande {
    width: 700px;
    height: 80px;
}

.pequeno {
    width: 200px;
    height: 40px;
}

.medio {
    width: 320px;
    height: 60px;
}


.duas-colunas {
    justify-content: space-between;
}

.lado-direito {
    justify-content: right;
}