*{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.hero {
  background-image: url(img/hero-bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f5f5;
  height: 600px;
}
