* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Google Sans", sans-serif;
    font-style: normal;
}

.wrapper {
    background-color: #292a2d;
    position: relative;
    width: 100%;
}

.wrapper header {
    padding: 10px 20px;
    background-color: #202124;
}

.wrapper header .actions {
    display: flex;
    justify-content: space-between;
}

.wrapper header .actions  .logo {
    margin: 8px 0 0 0;
    font-size: 22px;
    color: #fff;
}

.wrapper header .actions .search {
    display: flex;
    width: 800px;
}

.wrapper header .actions .search .serach-form {
    width: 80%;
    background-color: #3a3c41;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    padding: 3px;
}

.wrapper header .actions .search .serach-form .search-form-content {
    display: flex;
    align-items: center;
    gap: 8px;
}

.wrapper header .actions .search .serach-form .search-form-content .search-form-input {
    height: 30px;
    width: 360px;
    border: none;
    background-color: transparent;
}

.wrapper header .actions .search .serach-form .search-form-content .search-form-input::placeholder {
    color: #e9e6e6;
    font-size: 16px;
}


.wrapper header .actions .search .serach-form button {
    background-color: transparent;
}

.wrapper header .actions .search .serach-form button:hover {
    background-color: #585b64;
    border-radius: 50%;
}

.wrapper header .actions .search button {
    background-color: transparent;
    border: none;
    fill: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.wrapper header .actions .search button:hover {
    background-color: #3a3c41;
    border-radius: 50%;
}

.wrapper header .actions  .account .google-apps {
    background-color: transparent;
    border: none;
    fill: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.wrapper header .actions .account .google-apps:hover {
    width: 50px;
    height: 50px;
    background-color: #3a3c41;
    border-radius: 50%;
}

.wrapper header .actions .account .google-apps  svg {
    fill: #fff;
    stroke: #fff;
}

.wrapper header .actions .account .my-account {
    background-color: transparent;
    border: none;
    fill: #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    cursor: pointer;
}

.wrapper header .actions .account .my-account svg {
    fill: #fff;
}

.wrapper header nav {
    margin: 20px 0 0 0;
}

.wrapper header nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.wrapper header nav ul li a {
    text-decoration: none;
    color: #e9e6e6;
    font-size: 14px;
}

.wrapper header nav ul li .divisor {
    width: 1px;
    height: 18px;
    background-color: rgba(255, 255, 255, 0.25);
    margin: 0 12px;
}

.wrapper main {
    max-width: 1065px;
    margin: 0 auto;
    margin-top: 15px;
    background-color: #292a2d;
}

.wrapper main .head {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13px;
}

.wrapper main .head .title h4 {
    font-size: 28px;
    padding-bottom: 12px;
}



.wrapper main .head .tempo {
    display: flex;
    align-items: center;
}

.wrapper main .head .tempo .weather-card {
    background: #1c1c1e;
    color: #fff;
    border-radius: 16px;
    padding: 12px 16px;
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: Arial, sans-serif;
}

.wrapper main .head .tempo .weather-card .info a {
    font-size: 12px;
    color: #4da3ff;
    text-decoration: none;
}

.wrapper main .news {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}

.wrapper main .news .main-news {
    width: 65%;
    background-color: #1f1f1f;
    padding: 15px;
    border-radius: 20px;
}
.wrapper main .news .main-news .title {
    font-size: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid white;
}
.wrapper main .news .main-news a  {
    color: #8bb8f8;
    text-decoration: none;
}

.wrapper main .news .main-news .news-1 {
    font-size: 22px;
    color: #c2dac5;
    padding-top: 13px;
}

.wrapper main .news .main-news .content {
    display: flex;
    gap: 20px;
}

.wrapper main .news .main-news .content .news-primary {
    width: 45%;
}

.wrapper main .news .main-news .content .news-primary .img-1 {
    padding-top: 15px;
    width: 285px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.wrapper main .news .main-news .content .news-primary .img-bbc {
    width: 14px;
}
.wrapper main .news .main-news .content .news-primary .jornal {
    font-size: 12px;
    color: #fff;
}

.wrapper main .news .main-news .content .news-primary p {
    color: #fff;
    font-size: 20px;
    padding-top: 6px;
    padding-bottom: 20px;
}
.wrapper main .news .main-news .content .news-primary span {
    color: #fff;
    font-size: 12px;
}

.wrapper main .news .main-news .content .news-secondary .img-bbc {
    width: 14px;
}
.wrapper main .news .main-news .content .news-secondary {
    width: 55%;
}
.wrapper main .news .main-news .content .news-secondary .jornal {
    padding-top: 25px;
    padding-bottom: 6px;
    font-size: 12px;
    color: #fff;
}
.wrapper main .news .main-news .content .news-secondary p {
    color: #fff;
    font-size: 13px;
    padding-bottom: 12px;
}
.wrapper main .news .main-news .content .news-secondary span {
    font-size: 11px;
    color: #fff;
}


.wrapper main .news .local-news {
    width: 35%;
    background-color: #1f1f1f;
    padding: 15px;
    border-radius: 8px;
}
.wrapper main .news .local-news .title {
    font-size: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid white;
}
.wrapper main .news .local-news a  {
    color: #8bb8f8;
    text-decoration: none;
}


