* {
    padding: 0;
    margin: 0;
}


header {
  text-align: left;
  width: 700px;
  margin: 0 auto;
}


.todo-form {
  width: 700px;
  margin: 10px auto 10px; 
}


.todo-list {
  width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}



.todo-list__card {
  background-color: rgb(247, 243, 243);
  display: flex;
  gap: 10px;
  padding: 6px 8px 6px 8px; 
  border-radius: 3px;
}



.todo-list__card .card-date {
  width: 15%;
  display: flex;
  align-items: center; 
  flex-direction: column;
  padding: 10px 8px 10px 8px;
  background-color: rgb(227, 228, 236);
}

.todo-list__card .card-body {
  width: 70%;
}

.todo-list__card .card-actions {
  width: 15%;
  display: flex;
  align-self: center; 
}


.todo-list__card .card-actions button {
  cursor: pointer;
  padding: 2px 4px 2px 4px;
  display: flex;
  border: none;
  width: 16px; 
  height: 16px

}


