{
    font-family: "nunito sans", sans-serif;
    padding: 0;
    margin: 0;
    color: ff242424;
}
header . title {
text-align: center;
width: 700px;
margin: 0 auto;
}

.todo-form 
{
    width; 700px;
    margin: 10px auto 10px auto;
    text-align: center;
.todo-list 
{
    windth: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;

}
}