

* {
  font-family: "Nunito Sans", sans-serif;
  padding: 0;
  margin: 0;
  color: #242424; 
}

header .title {
  text-align: center;
  width: 700px;
  margin: 0 auto;
}

.todo-form {
display: flex;
justify-content: center;  
margin: 10px auto 10px;   
gap: 10px;  
}

.todo-list {
  width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo-list__card {
  background-color: rgb(233, 243, 248);
  display: flex;
  gap: 10px;
  padding: 6px 8px 6px 8px; 
  border-radius: 3px;
}

.todo-list__card .card-date {
  width: 15%;
  display: flex;
  align-items: center;
}

.todo-list__card .card-body {
  width: 70%;
}

.todo-list__card .card-actions {
  width: 15%;
  display: flex;
  gap: 6px;
  align-self: center; 
}

.todo-list__card .card-actions button {
  cursor: pointer;
  padding: 2px 4px 2px 4px;
  display: flex;
  width: 30px; 
  height: 30px
  
}

.card-red {
  background-color: #ff4d4df8;
}

.card-blue {
  background-color: #8cadfc;
}

.card-green {
  background-color: #7ff57f;
}

.card-actions button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    padding: 0;
    background-color: transparent;
}