

* {
  font-family: "Nunito Sans", sans-serif;
  padding: 0;
  margin: 0;
  color: #242424; 
}


header .title {
  text-align: center;
  width: 700px;
  margin: 0 auto;
}


.todo-form {
  width: 700px;
  margin: 10px auto 10px; 
}


.todo-list {
  width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}



.todo-list__card {
  background-color: rgb(241, 3, 3);
  display: flex;
  gap: 10px;
  padding: 6px 8px 6px 8px; 
  border-radius: 3px;
}



.todo-list__card .card-date {
  width: 15%;
  display: flex;
  align-items: center; 
  background-color: rgb(236, 7, 7);
}

.todo-list__card .card-body {
  width: 70%;
}

.todo-list__card .card-actions {
  width: 15%;
  display: flex;
  gap: 6px;
  align-self: center; 
}


.todo-list__card .card-actions button {
  cursor: pointer;
  padding: 2px 4px 2px 4px;
  display: flex;
  border: none;
  border-radius: 2px; 
  transition: background-color 0.2s ease; 
}


.todo-list__card .card-actions .btn-done {
  background-color: rgb(40, 167, 69); 
}

.todo-list__card .card-actions .btn-done:hover {
  background-color: rgb(33, 136, 56);
} 


.todo-list__card .card-actions .btn-doing {
  background-color: rgb(255, 193, 7); 
}

.todo-list__card .card-actions .btn-doing:hover {
  background-color: rgb(224, 168, 0); 
}


.todo-list__card .card-actions .btn-refused {
  background-color: rgb(220, 53, 69); 
}

.todo-list__card .card-actions .btn-refused:hover {
  background-color: rgb(186, 30, 46); 
}


.todo-list__card .card-actions button svg {
  fill: rgb(255, 255, 255); 
}