* {
  font-family: "Open Sans", sans-serif;
  padding: 0;
  margin: 0;
  color: #26045e98;
}

header{
    display: flex;
    justify-content: center;
}

header .title{
    text-align: center;
    width: 700px;
    margin: 0 auto;
}

.todo-form{
    width: 700px;
    margin: 10px auto 10px auto;
    fill: chartreuse;
}

.todo-list{
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo-list .todo-list__card{
    background-color: rgb(219, 218, 217);
    display: flex;
    gap: 10px;
    padding: 6px 8px 6px 8px;
    border-radius: 6px;
}

.todo-list .todo-list__card .card-data {
    width: 15%;
    display: flex;
    align-self: center;
}

.todo-list .todo-list__card .card-bory {
    width: 70%;
}

.todo-list .todo-list__card .card-action {
    gap: 6px;
    width: 15%;
    display: flex;
    align-items: center;
}

.todo-list .todo-list__card .card-action button {
    cursor: pointer;
    padding: 2px 4px 2px 4px;
    display: flex;
    border: none;
}

.todo-list .todo-list__card .card-action .btn-play {
    border-radius: 2px;
}

.todo-list .todo-list__card .card-action .btn-check {
    border-radius: 2px;
}

.todo-list .todo-list__card .card-action .btn-cancelar {
    border-radius: 2px;
}

.todo-list .todo-list__card .card-action button svg {
    fill: chartreuse;
}