* {
    font-family: Roboto;
    padding: 0;
    margin: 0;
    color: #2d2e2e;
}

header {
    margin: 10px 0;
}

header .title {
    text-align: center;
    width: 700px;
    margin: 0 auto;
}

.add {
    width: 700px;
    margin: 0 auto;
}

.todo-list {
    width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.todo-list .todo-list__card {
    background-color: #dee2e2;
    display: flex;
    gap: 10px;
    padding: 10px 20px;
    border-radius: 4px;
}

.todo-list .todo-list__card .card-date {
    width: 15%;
    display: flex;
    align-items: center;
}

.todo-list .todo-list__card .card-content {
    width: 70%;
}

.todo-list .todo-list__card .card-actions {
    display: flex;
    gap: 6px;
    width: 15px;
    align-self: center;
}

.todo-list .todo-list__card .card-actions button {
    cursor: pointer;
    padding: 2px 4px 2px 4px;
    display: flex;
    border: none;
    background-color: #dee2e2;
}

.todo-list .todo-list__card .card-actions .btn-done {
    border-radius: 2px;
}

.todo-list .todo-list__card .card-actions .btn-doing {
    border-radius: 2px;
}

.todo-list .todo-list__card .card-actions .btn-cancel {
    border-radius: 2px;
}

.todo-list .todo-list__card .card-actions button svg {
    fill: #7b7e7e;
}