* {
    font-family: "Roboto";
    color: rgb(107, 107, 107);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.login {
    width: 600px;
    margin: 0 auto;
    border: 1px solid rgb(236, 236, 236);
    border-radius: 10px;
}

.login .login-form {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.login .login-logo {
    padding: 10px;
    margin: 30px 0;
    border: 1px solid rgb(218, 217, 217) ;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.login .login-title {
    text-align: center;
}

.login .login-title h1 {
    color: rgb(20, 20, 20);
}

.login .login-subtitle {
    display: flex;
    gap: 5px;
    justify-content: center;
}